.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 90vh;
    height:90vh;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: #eee;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  

